.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-image {
  transition: transform 250ms;
  width: 20rem;
}

.logo-image:hover {
  transform: translateY(-10px);
}

@media screen and (max-width: 768px) {
  .container {
  }

  .img-container2 {
  }
}
