.betting-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  .betting-buttons-container {
    flex-direction: column;
  }
}
